
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">-->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <title>Bristol Archives</title>
</head>
<body bgcolor="#99ced3">
<!-- This creates the logos at the top of the page -->
<div class="block" style="margin-bottom: 0px">
    <div class="columns is-mobile">
        <div class="column is-one-third has-text-centered">
            <img th:src="@{/resized.png}" alt="Bristol Archives Logo" style="max-width: 85%; height: auto;">
        </div>
        <div class="column is-one-third"><h1 class="title" style="font-size:3vw; text-align: center; margin-top: 20px; color:#5d4037;font-family:Futura; "> Advanced &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search: </h1>
        </div>
        <div class="column is-one-third has-text-centered">

            <img class="image" th:src="@{/full-council-logo-black.png}" id ="logo" alt="Bristol City Council Logo" style="max-width: 68%; max-height: 65%; height: auto; margin-top: 12px; margin-left: 38px">
        </div>
    </div>
</div>
<div class="block">

    <!-- This is what creates the navbar -->

    <nav class="navbar has-background-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-burger burger has-background-primary" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start">
                <a href="/" class="navbar-item has-text-primary">Home</a>
                <a href="/aboutArchives" class="navbar-item has-text-primary">About the Archives</a>
                <a href="/loginPage" class="navbar-item has-text-primary">Admin login</a>
                <!--<a class="navbar-item">Showcase</a>
                <a class="navbar-item">Donate</a>-->

                <a href="https://twitter.com/bristolarchives?lang=en" target="_blank" class="navbar-item has-text-primary">Follow us on Twitter&nbsp<i class="fa fa-twitter"></i></a>

                <a href="https://en-gb.facebook.com/bristolarchives/" target="_blank" class="navbar-item has-text-primary" >Visit our Facebook</a>

                <a href="https://www.instagram.com/explore/locations/40687510/bristol-archives/?hl=en" target="_blank" class="navbar-item has-text-primary">Visit our Instagram&nbsp <i class="fa fa-instagram"></i></a>

            </div>
        </div>
    </nav>
    <script type="text/javascript">
        (function() {
            var burger = document.querySelector('.burger');
            var nav = document.querySelector('#'+burger.dataset.target);
            burger.addEventListener('click', function(){
                burger.classList.toggle('is-active');
                nav.classList.toggle('is-active');
            });
        })();
    </script>
<!--</div>-->

<!--<div class="block">-->
    <form action="#" th:action="@{/advSearch}" method="post">
        <div class="columns is-mobile">
            <div class="column is-one-fifth" style="background-image:linear-gradient(to right, #8b6b61,#99ced3);"></div>
            <div class="column" style="margin-top: 50px">
               <!-- <div class="block">
                    <div class="columns">
                        <div class="column is-one-fifth">Search by Date:</div>
                        <div class="column">
                            <input type="text" name="date_search" class="input" placeholder="Example: 1950...">
                        </div>
                    </div>
                </div>-->
                <div class="block">
                    <div class="columns">
                <div class="column is-one-fifth">Search by date:</div>
                <div class="column">
                    <div id="noRange" style="display: block"><input type="date" id="date_search" name="date_search" value=""></div>
                    <div id="startRange" style="display: none"> <input type="date" id="date_start" name="date_start" value=""></div>
                </div>
               <div class="column is-one-fifth"><div class="block is-centre" id="simpleText" style="margin-left: 63px; display: none; " >To</div>
                </div>

                <div class="column is-one-fifth"><div id="endRange" style="display: none"><input type="date" id="date_end" name="date_end" value=""></div>
                </div>
                <div class="column"><a onclick="range()" class="button" style="margin-left: 27px">Date range</a>

                <script>
                function range() {
                    var x = document.getElementById("endRange");
                    var y = document.getElementById("simpleText");
                    var z = document.getElementById("startRange");
                    var p = document.getElementById("noRange");
                    if (x.style.display === "none") {
                        x.style.display = "block";
                        y.style.display = "block";
                        z.style.display = "block";
                        p.style.display = "none";
                        document.getElementById('date_search').value = "";
                        document.getElementById('date_search').className = "hidden";
                        document.getElementById('date_start').className = "unhidden";
                        document.getElementById('date_end').className = "unhidden";
                    }
                    else {
                        x.style.display = "none";
                        y.style.display = "none";
                        z.style.display = "none";
                        p.style.display = "block";
                        document.getElementById('date_start').value = '';
                        document.getElementById('date_end').value = '';
                        document.getElementById('date_start').className = "hidden";
                        document.getElementById('date_end').className = "hidden";
                        document.getElementById('date_search').className = "unhidden";
                    }
                }

                    </script>
                </div>
            </div>

            <div class="block">
                <div class="columns">
                    <div class="column is-one-fifth">Search by collections:</div>
                    <div class="column">
                        <div class="control">
                            <div class="select">
                                <select>
                                    <option th:each="collection : ${collectionList}" th:text=${collection.name}></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="columns">
                    <div class="column is-one-fifth">Search by departments:</div>
                    <div class="column">
                        <div class="control">
                            <div class="select">
                                <select>
                                    <option th:each="dept : ${deptList}" th:text=${dept.name}></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="columns">
                    <div class="column is-one-fifth">Search by locations:</div>
                    <div class="column">
                        <input type="text" name="location_search" class="input" placeholder="Example: Uganda...">
                    </div>
                </div>
            </div>

            <div class="block">
                <div class="columns">
                    <div class="column is-one-fifth">Search for whole phrase:</div>
                    <div class="column">
                        <input type="text" name="precision_search" class="input" placeholder="Precise search...">
                    </div>
                </div>
            </div>
            </div>
            </div>
            <div class="column is-one-fifth" style="background-image:linear-gradient(to left, #8b6b61,#99ced3);"></div>
        </div>

<div class="block">
    <div class="columns">
        <div class="column is-one-fifth" style="background-image:linear-gradient(to right, #8b6b61,#99ced3);"></div>
        <div class="column">
            <div class="columns">
                <div class="column is-one-fifth"></div>
                <div class="column">
                    <button class="button" type="submit">Search</button>
                </div>
            </div>
        </div>
        <div class="column is-one-fifth" style="background-image:linear-gradient(to left, #8b6b61,#99ced3);"></div>
    </div>
</div>

    </form>


</div>


</body>
</html>